body {
  background-color: rgb(177, 222, 115);
}


h1{
font-size: 40px;
font-style: italic;
background-color: rgb(195, 73, 240)
}

n1{
font-size: 20px;   
background-color: rgb(195, 73, 240)
}

n0{
font-size: 15px;
font-style: italic;
}

h2{
font-size: 25px;
background-color: rgb(195, 73, 240)
}
